<div class="intro">
  <div class="intro-user">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% if can_edit_user?(@user) %>
        <h1>Редактирование профиля <%= @user.name %></h1>

        <div class="row">
          <div class="col-md-6 buffer-top">
            <%= render 'form' %>

            <p class="buffer-top">
              <%= link_to 'Сменить пароль', edit_user_registration_path, class: 'btn btn-default' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>