<div class="row">
  <hr>
  <div class="col-sm-12">
    <%= link_to post do %>
      <p><%= post.title %></p>
    <% end %>
      <p class="post-writer"><%= post.post_preview(150) %></p>
    <p class="post-writer"><%= post.created_at.strftime('%e.%-m.%Y') %></p>
  </div>
</div>
