<div class="intro">
  <%= content_tag 'div', '', class: 'intro-post',
                  style: "background-image: url(#{post_img(@post)})" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Редактируем запись: "<%= @post.title %>"</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
