<div class="intro">
  <div class="intro-post-new">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Новая запись:</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
