.intro-home, .intro-post, .intro-post-new, .intro-user, .contact-user {
  /*css for full size background image*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  background-color: #263238;
  margin-bottom: 50px;
}

.intro-home {
  background: asset-data-url(home.jpg) no-repeat center center;
}

.intro-post {
  background: asset-data-url(post.jpg) no-repeat center center;
}

.intro-post-new {
  background: asset-data-url(post-new.jpg) no-repeat center center;
}

.intro-user {
  background: asset-data-url(who.jpg) no-repeat center center;
}

.contact-form {
  background: asset-data-url(letter.jpg) no-repeat center center;
}