.intro-home, .intro-post, .intro-post-new, .intro-user, .contact-user {
  /*css for full size background image*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  background-color: #263238;
  margin-bottom: 50px;
}

.intro-home {
  background: url(asset-path('home.jpg')) no-repeat center center;
}

.intro-post {
  background: url(asset-path('post.jpg')) no-repeat center center;
}

.intro-post-new {
  background: url(asset-path('post-new.jpg')) no-repeat center center;
}

.intro-user {
  background: url(asset-path('who.jpg')) no-repeat center center;
}

.contact-form {
  background: url(asset-path('letter.jpg')) no-repeat center center;
}