.post-box {
  margin-bottom: 30px;
}

.post-box a {
  color: #333;
  text-decoration-line: none;
}

.preview-img {
  height: 150px;
  background-color: #e6e6e8;
}

.post-writer {
  font-family: 'Cormorant Infant', serif;
  padding-top: 10px;
}

.post-text {
  padding-top: 10px;
  text-align: justify;
}

.button-bottom {
  position:absolute;
  bottom:0;
  margin-bottom:7px;
}

.about-writer {
  background-color: #2E2F30;
  margin-bottom: 30px;
}

.column-1-4 {
  float: left;
  width: 25%;
}

.column-3-4 {
  float: left;
  width: 75%;
}

.column-4 {
  width: 100%;
}
